h1
{
    color:rgb(249, 249, 249);
    font-size:38px;
    margin:0;
}

p#intro{
    font-size:21px;
    margin-top: 20px;
}

p{
    font-size:20px;
    line-height: 1.4;
    margin-top: 7px;
    margin-bottom: 20px;
}

h2{
    font-size:28px;
    margin-top:50px;
    margin-bottom:30px;
}

h3{
    font-size:20px;
    margin: 0;
}

.main{
    color:white;
    padding:15px;
}

body{
    background-color:black;
    margin-left: 50px;
    margin-right: 50px;

}

nav ul {
     list-style-type:none;
     display: flex;
     gap: 50px;
     font-size: 20px;
     margin-top: 25px;
     justify-content: flex-end;
}

nav ul a{
    color: bisque;
    text-decoration:none;
}

nav ul a:hover{
   color:burlywood;
}

nav{
    padding:0px;
}

section{
    margin-top: 70px;
}

@media(max-width: 768px)
{
    nav ul{
        gap:20px;
    }
}