h1
{
    font-size:40px;
    margin-top:50px;
    margin-bottom: 0px;
    font-family: "Cormorant Infant", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

p#intro{
    font-size:21px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    text-shadow: 0px 0px 1px rgb(139, 136, 136);
}

p{
    font-size:19px;
    line-height: 1.4;
    margin-top: 7px;
    margin-bottom: 20px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    text-shadow: 0px 0px 1px white;
}

h2{
    font-size:27px;
    margin-top:25px;
    margin-bottom:30px;
    font-family: "Arsenal", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h3{
    font-size:19px;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.main{
    color:black;
    padding:15px;
}

body{
    background-image: url(https://cdn.hackclub.com/019ed4f8-a1be-7fa8-937c-35ce90ef7694/bg-9.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 120px;
    margin-right: 120px;
    
}

nav ul {
     list-style-type:none;
     margin: 0;
     padding: 0;
     display: flex;
     gap: 40px;
     font-size: 20px;
     justify-content: center;
}

nav ul a{
    color: rgb(52, 48, 48);
    text-decoration:none;
}

nav ul a:hover{
   text-decoration: underline;
}

nav{
    margin: 0px;
    padding-right: 37px;
    padding-left: 37px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: fixed;
    top: 25px;
    right:0px;
    background-color: rgba(245, 253, 1, 0.6);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    z-index: 10;
}

section{
    margin-top: 70px;
}

.me img{
    border: 2.5px solid white;
    border-radius: 50%;
    width: 350px;
}

.me{
    display: flex;
    margin: 0px;
    gap: 70px;
    align-items: center;
}

.social-links{
    font-size: 30px;
    display: flex;
    margin-top: 30px;
    gap: 30px;
}

.social-links a{
    color: black;
}

.social-links i{
    transition: 0.3s;
}

.social-links i:hover{
    transform: translateY(-6px);
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.timeline-card{
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid white;
    border-radius: 30px;
}

.timeline-card::before{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background-color: rgba(5, 5, 5, 0.2);
}

.card-content {
    position: relative;
    z-index: 2;
}

.timeline-card h2{
    text-shadow: 2px 2px 5px rgb(0, 0, 0, 1);
}

.timeline-card p{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.photo-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.photo-container img{
    height: 270px;
    width: auto;
    max-width: 100%;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 15px;
    position: relative;
    transition: 0.25s;
}

.photo-container video{
    height: 270px;
    width: auto;
    max-width: 100%;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 20px;
    position: relative;
    transition: 0.25s;
}

.photo-container img:hover{
    transform: scale(1.2);
    z-index: 4;
}

.photo-container video:hover{
    transform: scale(1.3);
    z-index: 4;
}

.chennai{
    background-image: url(https://cdn.hackclub.com/019ed488-c9cc-7f2d-9c07-4663e5f9f6db/air%20force%20school%20tambaram.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.lonavala{
    background-image: url(https://cdn.hackclub.com/019ede9e-0cf9-7f5d-ac33-dfba80f4c766/lonavala%20road.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.ferozepur{
    background-image: url(https://cdn.hackclub.com/019edec8-a298-7f9b-b4db-155d0fcff2ef/aps%20ferozepur.png);
    background-size: cover;
    background-position: center;
    color: white;
}

@media(max-width: 768px){

    p{
        font-size: 17px;
    }

    nav ul{
        gap:15px;
        margin-top: 0px;
        margin-right: 0px;
        font-size: 18px;
    }

    nav{
        padding: 9px;
    }

    body{
        margin-left: 30px;
        margin-right: 30px;
    }
    h2{
        margin-top: 15px;
    }
    .me{
        margin: 0px;
        flex-direction: column;
        gap: 30px;
    }
    .me p{
        margin: 0;
    }
    .me img{
        width:250px;
        margin-top: 30;
        margin-left: auto;
        margin-right: auto;
    }

    .timeline-card{
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media(max-width:848px){
    .me img{
        width: 240px;
    }
}

